{% extends 'base.html' %}
{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'itemCreateStyle.css' %}">

    <div class="form-holder">
        <form class="item-form" method="post">
            {% csrf_token %}
            {% for field in item_form %}
                <p>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <br>
                    {{ field }}
                </p>
            {% endfor %}
            <button type="submit">Create</button>
        </form>
    </div>
{% endblock main %}