{% extends 'base.html' %}
{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'userSignUpForm.css' %}">
    <div class="form-content">
        <form method="post">
            {% csrf_token %}
            <h2 style="margin-right: 45px">Login</h2>
            {% for field in login_form %}
                <p>
                    {{ field }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </p>
                <br>
            {% endfor %}
            <button type="submit" class="form-button">Login</button>
        </form>
    </div>
{% endblock main %}